@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    appearance: none;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-info: #dce1eb;
    /*--color-info-dark: #7d8da1*/
    --color: rgba(132, 139, 200, 0.18);
    /*--color-dark: #363949*/
    --color-variant: #111e88;
    /*--color-dark-variant: #677483*/
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.4rem;
    --border-radius-3: 0.4rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color);
    --box-shadow-card-hover: 0 0 1rem #000;
}

body{
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    
    background: var(--color-background);
    
    user-select: none;
    overflow-x: hidden;
}

h1{
    font-size: 1.8rem;
    font-weight: 800;
    
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.btnMenu{
    background: none;
    
    border: none;

    font: inherit;
    font-size: 2rem;
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    padding-block: 1.6rem;
    
    cursor: pointer;
}

.hamburger{
    border-top: 0.2rem solid #000;
    
    width: 2rem;
    display: block;
    
    transition: 0.5s;
}

.hamburger::before,
.hamburger::after{
    content: "";

    display: block;

    width: 2rem;
    height: 0.2rem;

    margin-top: 0.5rem;

    background: currentColor;

    position: relative;
}

body > header img{
    width: 3rem;
    height: 3rem;
}

header #menu{
    width: 70%;
    min-height: 96%;

    position: fixed;
    left: -70%;
    top: 0%;
    z-index: 3;

    background-color: white;

    margin-top: 1.4rem;

}

#menu header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menucontent{
    margin: 3.5rem 0;
}

.active{
    left: 0% !important;
}

header #menu a{
    text-decoration: none;

    height: 5.18rem;
    width: 100%;

    margin-left: 2.8rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;

    color: #363949;

    transition: all 300ms ease;
}

header #menu a:hover{
    color: var(--color-primary);
}

header #menu a:hover span:first-child{
    color: var(--color-primary);

    font-size: 3rem;

    margin-left: 1rem;
}

header #menu a.focus{
    background-color: var(--color);
    color: var(--color-primary);

    margin-left: 0;
}

header #menu a.focus::before{
    content: '';

    width: 6px;
    height: 100%;

    background: var(--color-primary);
}

header #menu a.focus span{
    color: var(--color-primary);

    font-size: 3rem;
}

header #menu a span{
    width: 2.4rem;

    transition: all 300ms ease;
}

header #menu a h3{
    display: inline;

    font-weight: 500;
}

header #menu a span.message-count{
    background: var(--color-danger);
    color: #fff;

    display: flex;
    justify-content: center;

    font-size: 1.1rem;

    border-radius: var(--border-radius-1);
}

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background-color: var(--color);

    border-radius: var(--border-radius-1);

    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: #363949;
}

main .insights{
    display: grid;
    gap: 1.6rem;

    justify-content: center;
}

.insight-card{
    background: #fff;

    padding: var(--card-padding);
    margin: 1rem;

    border-radius: var(--card-border-radius);

    box-shadow: var(--box-shadow);

    transition: all 300ms ease;
}

.insight-card:hover{
    box-shadow: var(--box-shadow-card-hover);
}

.insight-card > span{
    padding: 0.5rem;

    border-radius: 50%;

    color: #fff;

    font-size: 2.8rem;
}

.insight-card:nth-child(1) > span{
    background: var(--color-primary);
}

.insight-card:nth-child(2) > span{
    background: var(--color-danger);
}

.insight-card:nth-child(3) > span{
    background: var(--color-succes);
}

.insight-content{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.insight-info{
    width: 10.5rem;
}

.progress{
    width: 10rem;
    height: 10rem;

    border-radius: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress::before{
    content: "";

    background: #fff;

    width: 8rem;
    height: 8rem;

    border-radius: 100%;
    position: absolute;
    z-index: 1;
}

.progress p{
    position: absolute;
    z-index: 2;
}

.insight-card small{
    display: block;
    margin-top: 3rem;
}

.recent-order{
    margin-top: 2.8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.recent-order h2{
    margin-bottom: 1.1rem;
}

.recent-order table{
    background: white;
    
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    
    padding: var(--card-padding);
    
    text-align: center;
    
    transition: all 300ms ease;

    display: block;
    position: relative;

    width: 90%;

    margin: 0 auto;
}

.recent-order table:hover{
    box-shadow: var(--box-shadow-card-hover);
}

.recent-order table thead{
    float: left;

    text-align: center;

}

.recent-order table tbody{
    width: auto;
    
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
    white-space: nowrap;
}

.recent-order table thead,
.recent-order table tbody,
.recent-order table th,
.recent-order table td,
.recent-order table tr{
    display: block;
}

.recent-order table  tr td,
.recent-order table tr th{
    height: 3.5rem;
}

.recent-order tbody tr {
    display: inline-block;
  }

.recent-order table tbody td{
    height: 3.5rem;

    border-bottom: 1px solid var(--color);

    color: #677483;
}

.recent-order table tbody td:last-child{
    color: var(--color-primary);
}

.recent-order table tbody tr:last-child td{
    border: none;
}

.recent-order a {
    text-decoration: none;
    text-align: center;

    color: var(--color-primary);

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;

    border-radius: 50%;

    overflow: hidden;
}

.text-muted{
    color: #7d8da1;
}

.warning{
    color: var(--color-warning) !important;
}

.danger{
    color: var(--color-danger) !important;
}
.success{
    color: var(--color-succes) !important;
}